{% extends "base.html" %}
{% block content %}
<div class="container p-5 m-5">
  <div class="row">
    <div class="card p-5" id="wiki-item">
      <h1 class="card-title">{{ wiki_pages_detail.title|title }}</h1>
      <h2 class="card-subtitle">Slug: {{ wiki_pages_detail.slug }}</h2>
      <label class="card-author">By: {{ wiki_pages_detail.author }}</label>
      <p class="card-content"> {{ wiki_pages_detail.content }}</p>
      <span>Created on {{ wiki_pages_detail.created}} |   Modified on {{ wiki_pages_detail.modified}}</span>
    </div>
  </div>

</div>


<div class="container mb-5">
  <div class="row">
    <button class="open-button" id="mybutton" onclick="openForm()">Edit Wiki</button>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="form-popup text-left my-auto" id="myForm">
      <form action="/action_page.php" class="form-container">{% csrf_token %}
        {{ form.as_p }}
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
  </div>
</div>


<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
  document.getElementById("mybutton").style.display = "none";
  document.getElementById("wiki-item").style.visibilty = "hidden";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("mybutton").style.display = "block";
  document.getElementById("wiki-item").style.visibilty = "hidden";
}
</script>


{% endblock %}
